certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
jedi==0.19.1
numpy==1.26.2
packaging==23.2
pandas==2.1.4
parso==0.8.3
pudb==2023.1
pygments==2.17.2
pyqtgraph==0.13.3
PySide6==6.2.4
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
shiboken6==6.2.4
six==1.16.0
tzdata==2023.4
urllib3==2.1.0
urwid==2.3.4
urwid-readline==0.13
